// @import "./variable.scss"; //引入全局自定义样式
// https://blog.csdn.net/kaixing1967/article/details/143210418

@use "./variable.scss"; //引入全局自定义样式

.mobile-top-card {
    height: 31rem;
    margin: 4px;
  }

  .mobile-bottom-card {
    margin: 4px;
    padding: 1rem;
  }
  

// 滚动条宽度
::-webkit-scrollbar {
    width: 0px;
    height: 4px;
}

// ::scrollbar-track {
//     display: none;
// }

// // 滚动条插槽
// ::-webkit-scrollbar-track {
//     display: none;
// }

// ::scrollbar-thumb {
//     border-radius: 1em;
// }

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
    background: var(--font-color);
    border-radius: 1em;
}

// mobile
@media screen and (max-width: 768px) {
    .home_center_box {
      padding-top: 20px;
      margin: 0 auto;
      min-height: calc(100vh - 128px);
    }
}
  
// pc
@media screen and (min-width: 768px) {
  .home_center_box {
      padding-top: 20px;
      max-width: 1080px;
      margin: 0 auto;
      min-height: calc(100vh - 128px);
  }
  .mobile-top-card {
      display: none;
  }
  // .mobile-bottom-card {
  //     display: none;
  // }
}
  
.layout {
  background: var(--global-gradient) !important;
}

.main_box {
  box-sizing: border-box;
}